body {
    background-color:white;
}

.cen {
width: 100%;
margin: 0 auto;
margin-top: 1vmin;
}

#scrn{
    background-color:#e3fbe3;
    width:100%;
    margin: 0 auto;
    height: auto;
    border: none;
}

#calc{
    background-color:black;   
    padding: 0.8vmin;
    width: 87vmin;
    margin: 0 auto;
    height: auto;
    margin-top: 9%;
    border-radius: 1%;
}

button {
    margin: 1vmin;
    width: 15vmin;
    height: 15vmin;
    border: none;
    transition-duration: 0.75s;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #222222;
    color:white;
    font-weight: bold;
    font-size: 4vmin;
    font-family: PT Sans;
    border-radius: 1vmin;
}

#ans{
    background-color:#e3fbe3;
    border: none;
    font-family: Segment7Standard;
    width: 100%;
    /* margin: 0 auto; */
    text-align: right;
    font-size: 6vmin;
    color: #000;
    font-weight: bold;
}

#display{
    border: none;
    width: 100%;
    /* margin: 0 auto; */
    text-align: right;
    font-family: Orbitron;
    font-size: 4vmin;
    color:#000;
    background-color:#e3fbe3;
}


button:focus {
outline: none;
}

#mode {
width: 7vmin;
margin-left: 1vmin;
text-align:center;
font-size: 3vmin;
background-color:#e3fbe3;
transform:scale(0.7);
font-weight:bold;
color:black;
border: none;
}

#ce {
    background-color:#b40000;
    color:white;
}

button[name="plus"],button[name="minus"], button[name="multiply"], button[name="divide"], button[name="percentage"],button[name="zerozero"]{
    background-color:rgb(173, 104, 0);
    color: white;
}

button[value="="] {
    background-color:rgb(0, 61, 0);
    color:white;
    width: 49vmin;
    height: 15vmin;
}

button[value="="]:hover{
    background-color:#007200;
}


@media only screen and (min-width: 992px) {

    .cen {
        width: 100%;
        margin: 0 auto;
        margin-top: 0.5vmin;
        }

    #scrn{
        background-color:#e3fbe3;
        width:100%;
        height: auto;
        border:none;
    }

    #calc{
        background-color:black;   
        padding: 1vmin;
        width: 60vmin;
        margin: 0 auto;
        margin-top: 1vmin;
        height: auto;
        border-radius: 1vmin; 
       }

       button {
        margin: 0.5vmin;
        width: 10.5vmin;
        height: 10.5vmin;
        border: none;
        transition-duration: 0.75s;
        cursor: pointer;
        background-color: #222222;
        color:white;
        font-weight: bold;
        font-size: 3vmin;
        font-family:PT Sans;
        border-radius: 1vmin;
    }

    #ans{
        background-color:#e3fbe3;
        border: none;
        font-family: Segment7Standard;
        width: 100%;
        margin: 0 auto;
        text-align: right;
        font-size: 5vmin;
        color: #000;
        font-weight: bold;
    }

    #display{
        border: none;
        width: 100%;
        margin: 0 auto;
        text-align: right;
        font-family: Orbitron;
        font-size: 2.5vmin;
        color:#000;
        background-color:#e3fbe3;
    }


    button:focus {
    outline: none;
    }

    #mode {
    width: 6vmin;
    margin-left: 0.3vmin;
    border-radius:2px;
    text-align:center;
    font-size: 2vmin;
    background-color:#e3fbe3;
    font-weight:bold;
    color:black;
    border: none;
    }

    #ce {
        background-color:#b40000;
        color:white;
    }

button[name="plus"],button[name="minus"], button[name="multiply"], button[name="divide"], button[name="percentage"],button[name="zerozero"]{
    background-color:rgb(173, 104, 0);
    color: white;
}

button[value="="] {
    background-color:rgb(0, 61, 0);
    color:white;
    height: 10.5vmin;
    width: 33.5vmin;
}

button[value="="]:hover{
    background-color:#007000;
}
}
